#cadreTime
{
   display:flex; justify-content: space-around ; flex-direction: row;
}

.cssTimer
{
    font-size:40px ;
}

#cadre_form
{
   height:auto ; padding:20px ; width:40% ; margin-left:auto ; margin-right:auto ;
   margin-top:3%; background-color:white; border-radius:7px;
}

.form-group
{
   margin-top:3%; 
}
.forLabel
{
    font-size:17px ; font-weight:bold; color: black;
}